body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
}

form {
  font-size: 1em;
  background-color: white;
  width: 25%;
  height: 60vh;
  text-align: center;
  margin: auto;
  border-radius: 4px;
  box-shadow: 2px 2px 10px black;
}

h1 {
  color: rgb(38, 157, 204);
}

#input {
  text-align: center;
  font-size: 1em;
  height: 1.2em;
  width: 50%;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 14px;
}

label {
  font-size: 1.5em;
  font-weight: bold;
}

button {
  font-size: 1.5em;
  background-color: rgb(250, 0, 0);
  color: white;
  border-radius: 2px;
  border: none;
  padding: 5px 20px;
  margin-top: 14px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(187, 0, 0);
}

#res {
  font-size: 1.6em;
  font-weight: bold;
}
